<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1>Add New Task</h1> </br>
        <h2>
            <a href="index.html">Home</a>
            <a href="listall">List All Tasks</a>
            <a href="updatetask">Update Task</a>
            <a href="deletetask">Delete Task by ID</a>
            <a href="deletecompleted">Delete Completed Tasks</a>
        </h2>
        <form action="/addtask" method="POST">
            Task Name:
            <input type="text" name="taskname" /> </br>
            Assign To:
            <input type="text" name="taskassign" /> </br>
            Due Date:
            <input type="date" name="taskdue" /> </br> 
            Task Status:
            <select name="taskstatus">
                    <option value="InProgress" selected>InProgress
                    <option value="Complete">Complete
                    </select> </br>
            Description:
            <input type="text" name="taskdesc" /> </br>
            <button>Submit</button>
        </form>
    </body>
</html>