<html>
<head>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Delete Task by ID</h1></br>
    <h2>
        <a href="index.html">Home</a>
        <a href="addtask.html">Add Task</a>
        <a href="listall">List All Tasks</a>
        <a href="updatetask.html">Update Task</a>
        <a href="deletecompleted">Delete Completed Tasks</a>
    </h2>
    <form action="/deletetaskbyid" method="POST">
        Task ID: 
        <input type="number" method="POST" name="taskid" /> </br>
        <input type="submit" value="Submit" /> </br>
    </form>
</body>
</html>